.container {
  padding: 45px 0;
  overflow: hidden;
}

.comic-carousel {
  /* removes horizontal scroller */
  display: inline-block;
  overflow: hidden;
  /* padding: 60px 0; */
  white-space: nowrap;
}

.comic-carousel-slide {
  /* Just learned that this prevents the wrap */
  display: inline-block;
  animation: slide 35s infinite linear;
}

.comic-carousel-slide img {
  height: 500px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.below-image {
  text-align: center;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 75px;
}
