.starwars-page {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.film-item {
  width: 300px;
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.film-item h3 {
  margin-top: 0;
}
