.card {
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 10px;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-caption {
  padding: 15px;
  font-size: 16px;
  color: #ececec;
}

.card-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
